// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$darkRed: hsl(0, 100%, 39%);
$lightRed: hsl(0, 100%, 50%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$fb: hsl(221, 44%, 41%);
$tw: hsl(197, 100%, 47%);
$ln: hsl(199, 85%, 36%);
$in: radial-gradient(45DEG, #405DE6, #5851DB, #833AB4,#C13584,#E1306C, #FD1D1D);
$wa: hsl(142.41, 70.16%, 48.63%);


//  Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;